*.iml
.gradle/
/local.properties
/.idea/
/.agents/
/.kotlin/
/.icon-inspect/
/.jlatex-inspect/
/.markwon-inspect/
/build/
/app/build/
/tmp/
/assets/
/org/
/res/
/values/
/annotations.zip
/AndroidManifest.xml
/R.txt
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
